
<div class="game-summary">
    <img class="champion-icon" src="assets/img/champion/Aatrox.png">
    <div class="spell-book">
        <img class="spell-icon" src="assets/img/spell/SummonerFlash.png">
        <img class="spell-icon" src="assets/img/spell/SummonerFlash.png">
    </div>
    <div class="champion-name">
        <p>Aatrox</p>
    </div>
    <div class="inventory">
        <img class="item-icon" src="assets/img/spell/SummonerFlash.png">
        <img class="item-icon" src="assets/img/spell/SummonerFlash.png">
        <img class="item-icon" src="assets/img/spell/SummonerFlash.png">
        <img class="item-icon" src="assets/img/spell/SummonerFlash.png">
        <img class="item-icon" src="assets/img/spell/SummonerFlash.png">
        <img class="item-icon" src="assets/img/spell/SummonerFlash.png">
    </div>
    <div class="kda">
        <p>11/5/16</p>
    </div>
    <div class="income">
        <p>15.1k</p>
    </div>
    <div class="duration">
        <p>31:14</p>

    </div>
</div>